* {
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100vh;
}

.container, .select, .info {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
}

.select {
	border-right: 1px dashed #c5c5c5;
}